<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nội dung</th>
        </tr>
        <tbody>
            <tr>
                <td>Họ tên người tiêm</td>
                <td>{{tiem.hoten}}</td>
            </tr>
            <tr>
                <td>Ngày sinh người tiêm</td>
                <td>{{tiem.ngaysinh}}</td>
            </tr>
            <tr>
                <td>Giới tính</td>
                <td>{{tiem.gioitinh}}</td>
            </tr>
            <tr>
                <td>Tỉnh thành</td>
                <td>{{tiem.tinh}}</td>
            </tr>
            <tr>
                <td>Quận huyện</td>
                <td>{{tiem.quan}}</td>
            </tr>
            <tr>
                <td>Phường xã</td>
                <td>{{tiem.xa}}</td>
            </tr>
            <tr>
                <td>Số nhà, tên đường</td>
                <td>{{tiem.dc}}</td>
            </tr>
            <tr>
                <td>Họ tên người liên hệ</td>
                <td>{{tiem.hotenlienhe}}</td>
            </tr>
            <tr>
                <td>Mối quan hệ với người tiêm</td>
                <td>{{tiem.moiquanhe}}</td>
            </tr>
            <tr>
                <td>Số điện thoại người liên hệ</td>
                <td>{{tiem.sdt}}</td>
            </tr>
            <tr>
                <td>Loại vacxin đăng ký tiêm</td>
                <td>{{tiem.loaivacxin}}</td>
            </tr>
            <tr>
                <td>Trung tâm VNVC mong muốn tiêm</td>
                <td>{{tiem.trungtam}}</td>
            </tr>
            <tr>
                <td>Ngày mong muốn tiêm</td>
                <td>{{tiem.ngaytiem}}</td>
            </tr>
    </thead>
</table>